<h2 mat-dialog-title>{{ data ? 'Editar Profesor' : 'Nuevo Profesor' }}</h2>

<form [formGroup]="form" (ngSubmit)="guardar()" class="formulario-modal"
    style="display: flex; flex-direction: column; gap: 16px; padding: 24px;">

    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
        <mat-error *ngIf="form.get('nombre')?.hasError('required')">
            El nombre es obligatorio
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido">
        <mat-error *ngIf="form.get('apellido')?.hasError('required')">
            El apellido es obligatorio
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="form.get('email')?.hasError('required')">
            El email es obligatorio
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
            El formato del email no es válido
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono">
        <mat-error *ngIf="form.get('telefono')?.hasError('required')">
            El teléfono es obligatorio
        </mat-error>
        <mat-error *ngIf="form.get('telefono')?.hasError('pattern')">
            Solo se permiten números
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput type="date" formControlName="fechaNacimiento">
        <mat-error *ngIf="form.get('fechaNacimiento')?.hasError('required')">
            La fecha es obligatoria
        </mat-error>
        <mat-error *ngIf="form.get('fechaNacimiento')?.hasError('fechaFutura')">
            La fecha no puede ser en el futuro
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Fecha de Contratación</mat-label>
        <input matInput type="date" formControlName="fechaContratacion">
        <mat-error *ngIf="form.get('fechaContratacion')?.hasError('required')">
            La fecha es obligatoria
        </mat-error>
        <mat-error *ngIf="form.get('fechaContratacion')?.hasError('fechaFutura')">
            La fecha no puede ser en el futuro
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Especialidad</mat-label>
        <input matInput formControlName="especialidad">
        <mat-error *ngIf="form.get('especialidad')?.hasError('required')">
            La especialidad es obligatoria
        </mat-error>
    </mat-form-field>

    <div style="display: flex; justify-content: flex-end; gap: 8px;">
        <button mat-button type="button" (click)="cancelar()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">Guardar</button>
    </div>
</form>